services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: treta-bank

  event-store:
    image: mongo:6.0.4
    restart: always
    ports:
      - 27018:27017
    environment:
      MONGO_INITDB_DATABASE: vf-event-store
    command: mongod --replSet vf-event-store-repl-set
    volumes:
      - ./scripts/event-store-mongoinit.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
